.container {
  width: 600px;
  background: linear-gradient(
    89.7deg,
    rgb(0, 0, 0) -10.7%,
    rgb(53, 92, 125) 88.8%
  );
  color: white;
}

ul {
  list-style-type: none;
  margin-left: 10px;
  padding: 0;
}
#city {
  font-size: 45px;
  margin-top: 0;
}
.main-box {
  border-right: 1px solid;
}
.main-emoji {
  font-size: 100px;
}
.temperature {
  font-size: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.description {
  margin-top: 0px;

  padding-top: 0px;
}
.info-box {
  padding-top: 30px;
  text-align: center;
  line-height: 30px;
}
input[type="text"] {
  height: 30px;
  border-radius: 0;
  border: none;
  background: #e3f6f5;
  color: gray;
  line-height: normal;
  font-size: small;
  margin-right: 0;
  padding: 5px;
}

.searchBtn {
  height: 30px;
  border: none;
  background: #e3f6f5;
  color: gray;
  line-height: normal;
  font-size: small;
}
.units {
  margin-top: 40px;
  margin-left: 0;
  padding-left: 0;
}
.search-button {
  display: inline-block;
  height: 30px;
  width: 65px;
  border-radius: 0;
  border: none;
  background: #e3f6f5;
  color: gray;
  line-height: normal;
  font-size: small;
  margin: 0;
  padding: 5px;
  line-height: normal;
}
button {
  border-radius: 0;
}
